/*
  ## Basic form
  ```
    <form class="my-form">
      <input type="text" />
    </form>
  ```
*/

.my-form {
  background: #eee;
  width: 50%;
  padding: 30px;
}

.my-form input {
  border: 2px dashed #ddd
}
